/* *{

} */

/* DEFAULT CLASSES */
.bg-beige {
  background: #f2ece0;
}
.text-beiger {
  color: #d6aca7;
}
.outline-none {
  outline: none !important;
}
.underliner {
  text-decoration: none;
}
.underliner:hover {
  text-decoration: underline;
}
.pointer {
  cursor: pointer;
}
.fs-12px {
  font-size: 12px;
}
.fs-14px {
  font-size: 12px;
}
.font-gara {
  font-family: "Cormorant Garamond";
}
.font-mono {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 12px;
  line-height: 1.81em;
  font-weight: 500;
  letter-spacing: 0.2em;
}
.text-ellipsis-3 {
  -webkit-line-clamp: 3 !important;
  -webkit-box-orient: vertical !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  display: -webkit-box !important;
}
/* DEFAULT CLASSES */
/* --------------------------------------------- */
/* NAVBAR */
body {
  font-family: Arial, sans-serif;
  min-height: 100vh;
  /* min-width: 100vw; */
}

.nav-under {
  position: relative;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-item {
  margin: 0 15px;
  cursor: pointer;
  position: relative;
}
.menu-item > a {
  color: #1b1b1b;
  letter-spacing: 0.2em;
  font-size: 11px;
}

.underline {
  position: absolute;
  bottom: 0;
  height: 1px;
  background-color: #1b1b1b;
  width: 0;
  transition: 0.5s ease;
  transform: translateX(0);
}
@media (min-width: 992px) {
  .custom-navbar {
    height: 80px;
  }
}
.custom-navbar-collapse {
  height: 100%;
}
.custom-navbar-collapse > nav,
.custom-navbar-collapse > nav > ul {
  height: 100%;
}
.navbar-input::placeholder {
  font-size: 12px;
  font-weight: 500;
}
.navbar-insta {
  transition: transform 0.3s ease;
}
.navbar-input {
  transition: all 0.2s ease;
}
.navbar-input:focus {
  box-shadow: -5px 0px 5px rgba(0, 0, 0, 0.119);
}
.navbar-input:focus + .navbar-insta {
  transform: translateX(2000%);
}
/* NAVBAR */
/* --------------------------------------------- */
/* INDEX */
@keyframes moveY {
  from {
    transform: translateY(100px);
  }
  to {
    transform: translateY(0px);
  }
}
@keyframes widthy {
  from {
    width: 0px;
  }
  to {
    width: 30px;
  }
}

.splide__slide {
  position: relative;
}

/* .splide__slide img {
  width: 100%;
  height: auto;
  } */
.splide-inner-absolute {
  padding-left: 6px;
  padding-right: 6px;
  height: 50% !important;
}
.caption {
  /* position: absolute; */
  /* bottom: 0; */
  /* left: 0; */
  transition: opacity 0.4s ease;
  /* transition: moveY 0.4s ease; */
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5),
    #00000000
  );
  color: white;
  padding: 10px;
  opacity: 0;
  min-height: 100px;
  /* border-radius: 5px; */
}
/* ------------------------------------------------------- */
.left-animate,
.right-animate {
  height: 1px;
  background: #fff;
  width: 30px;
}
.splide__slide.is-visible {
  .caption {
    opacity: 1 !important;
  }
  /* .caption>div>div>p,.caption>div>div>h2  {
    animation: moveY 0.5s ease;
  } */
  .caption > div > .animate-1 > p {
    animation: moveY 0.3s ease;
  }
  .caption > div > .animate-2 > h2 {
    animation: moveY 0.6s ease;
  }
  .caption > div > .animate-3 > p {
    animation: moveY 0.9s ease;
  }
  .left-animate,
  .right-animate {
    animation: widthy 0.5s ease;
  }
}
/* ------------------------------------------------------- */
.splide:not(.is-overflow) .splide__list {
  justify-content: center;
}
.caption p,
.caption h2 {
  margin: 0;
}
.subs-input::placeholder {
  font-size: 17px;
  font-family: Cormorant Garamond;
}
.subs-input {
  font-size: 17px;
  font-family: Cormorant Garamond;
}
/* INDEX */
/* --------------------------------------------- */
/* Footer */
.brighter {
  color: #9cabab;
}
.brighter-hover:hover {
  color: white;
}
.icon-foot,.icon-foot>svg{
  transition: all 0.3s ease;
}
.icon-foot:hover{
  transform: scale(1.2);
  
}

.icon-foot:hover>svg{
  fill: #fff;
}
 
.topper{
  border: 1px solid #CFAC9F;
  padding-right: 12px;
  padding-left: 12px;
  padding-bottom: 10px;
  padding-top: 10px;
}
.topper>div>svg{
  transition: all 0.2s ease;
}
.topper:hover>div>svg{
  transform: translateY(-8px);
}
/* Footer */
/* --------------------------------------------- */
/* --------------------------------------------- */
