/* *{

} */
/* VARS */
:root {
  --cardbordercolor: #d78c29;
  --cardbgtag: #f9f3ea;
  --blueish: #344a9a;
  --blueishtext: #5878ee;
  --pinkish: #aa0f6d;
  --customgrey: #616161;
}
/* VARS */
/* DEFAULT CLASSES */
::selection {
  color: white;
  background: #cfac9f;
}
::-moz-selection {
  color: white;
  background: #cfac9f;
}

body {
  font-family: Albert-Sans, sans-serif;
  min-height: 100vh;
  /* min-width: 100vw; */
}
main {
  margin-top: 100px;
}
.w-fit-content {
  width: fit-content !important;
}
.bg-beige {
  background: #f2ece0;
}
.accordion-button::after {
  margin-left: 0 !important;
}
.text-grey {
  color: var(--customgrey);
}
.bg-grey {
  background:  #F5F7FC;
}
.text-beiger {
  color: #d6aca7;
}
.px-20px{
  padding-left: 20px;
  padding-right: 20px;
}
.lh--sm {
  line-height: 10px;
}
.outline-none {
  outline: none !important;
}
.underliner {
  text-decoration: none;
}
.underliner:hover {
  text-decoration: underline;
}
.pointer {
  cursor: pointer;
}
.text-base {
  color: rgb(50, 55, 56, 1) !important;
}
.text-smallgrey {
  color: rgb(114 117 116);
}
.fs-11px {
  font-size: 11px;
}
.fs-12px {
  font-size: 12px;
}
.fs-13px {
  font-size: 13px;
}
.fs-14px {
  font-size: 14px;
}
.fs-16px {
  font-size: 16px;
}
.fs-19px {
  font-size: 19px;
}
.fs-21px {
  font-size: 21px;
}
.fs-27px {
  font-size: 27px;
}
.fs-32px {
  font-size: 32px;
}
.fw-kindabold {
  font-weight: 550;
}
.font-gara {
  font-family: "Cormorant Garamond";
}
.font-mono {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 12px;
  line-height: 1.81em;
  font-weight: 500;
  letter-spacing: 0.2em;
}
.font-mont {
  font-family: Montserrat;
}
.text-ellipsis-2 {
  -webkit-line-clamp: 2 !important;
  -webkit-box-orient: vertical !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  display: -webkit-box !important;
}
.text-ellipsis-3 {
  -webkit-line-clamp: 3 !important;
  -webkit-box-orient: vertical !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  display: -webkit-box !important;
}
.x-small {
  font-size: x-small !important;
}
/* DEFAULT CLASSES */
/* --------------------------------------------- */
/* NAVBAR */
.menu-item.active-menu-item > a {
  color: brown; /* Optional: Highlight the active menu item */
}
.underline {
  position: absolute;
  bottom: 0;
  height: 1px;
  background-color: #1b1b1b;
  width: 0;
  transition: 0.5s ease;
  transform: translateX(0);
}

.menu-item.active-menu-item ~ .underline {
  width: 100%; /* Adjust the width or style as needed */
  left: 0; /* Adjust positioning as needed */
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  transition: top 0.3s;
  z-index: 1000; /* Ensure the navbar stays on top */
}

.nav-under {
  position: relative;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-item {
  margin: 0 15px;
  cursor: pointer;
  position: relative;
}
.menu-item > a {
  color: #1b1b1b;
  letter-spacing: 0.2em;
  font-size: 11px;
}

.underline {
  position: absolute;
  bottom: 0;
  height: 1px;
  background-color: #1b1b1b;
  width: 0;
  transition: 0.5s ease;
  transform: translateX(0);
}
@media (min-width: 992px) {
  .custom-navbar {
    height: 80px;
  }
}
.custom-navbar-collapse {
  height: 100%;
}
.custom-navbar-collapse > nav,
.custom-navbar-collapse > nav > ul {
  height: 100%;
}
.navbar-input::placeholder {
  font-size: 12px;
  font-weight: 500;
}
.navbar-insta {
  transition: transform 0.7s ease;
}
.navbar-input {
  transition: all 0.2s ease;
}
.navbar-input:focus {
  box-shadow: -5px 0px 5px rgba(0, 0, 0, 0.119);
}
.navbar-input:focus + .navbar-insta {
  transform: translateX(2000%);
}
/* NAVBAR */
/* --------------------------------------------- */
/* HAMBURGER */
.ham8 .top {
  stroke-dasharray: 40 160;
}
.ham8 .middle {
  stroke-dasharray: 40 142;
  transform-origin: 50%;
  transition: transform 400ms;
}
.ham8 .bottom {
  stroke-dasharray: 40 85;
  transform-origin: 50%;
  transition: transform 400ms, stroke-dashoffset 400ms;
}
.ham8.active .top {
  stroke-dashoffset: -64px;
}
.ham8.active .middle {
  /* stroke-dashoffset: -20px; */
  transform: rotate(90deg);
}
.ham8.active .bottom {
  stroke-dashoffset: -64px;
}
.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.hamRotate.active {
  transform: rotate(45deg);
}
.hamRotate180.active {
  transform: rotate(180deg);
}
.line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: #000;
  stroke-width: 3.5;
  stroke-linecap: round;
}
/* --------------------------------------------- */

/* --------------------------------------------- */
/* INDEX */
@keyframes moveY {
  from {
    transform: translateY(100px);
  }
  to {
    transform: translateY(0px);
  }
}
@keyframes widthy {
  from {
    width: 0px;
  }
  to {
    width: 30px;
  }
}

.splide__slide {
  position: relative;
}
.main-splide > img {
  object-position: center center;
}
@media (max-width: 574px) {
  .main-splide > img {
    width: 100%;
    height: 100%;
  }
}
@media (min-width: 575px) {
  .main-splide > img {
    max-width: 100% !important;
    height: auto !important;
  }
}
/* .splide__slide img {
  width: 100%;
  height: auto;
  } */
.splide-inner-absolute {
  height: 50% !important;
}
@media (min-width: 768px) {
  .splide-inner-absolute {
    padding-left: 6px;
    padding-right: 6px;
  }
}
.caption {
  /* position: absolute; */
  /* bottom: 0; */
  /* left: 0; */
  transition: opacity 0.4s ease;
  /* transition: moveY 0.4s ease; */
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5),
    #00000000
  );
  color: white;
  padding: 10px;
  opacity: 0;
  min-height: 100px;
  /* border-radius: 5px; */
}
/* ------------------------------------------------------- */
.left-animate,
.right-animate {
  height: 1px;
  background: #fff;
  width: 30px;
}
.splide__slide.is-visible {
  .caption {
    opacity: 1 !important;
  }
  /* .caption>div>div>p,.caption>div>div>h2  {
    animation: moveY 0.5s ease;
  } */
  .caption > div > .animate-1 > p {
    animation: moveY 0.3s ease;
  }
  .caption > div > .animate-2 > h2 {
    animation: moveY 0.6s ease;
  }
  .caption > div > .animate-3 > p {
    animation: moveY 0.9s ease;
  }
  .left-animate,
  .right-animate {
    animation: widthy 0.5s ease;
  }
}
/* ------------------------------------------------------- */
.splide:not(.is-overflow) .splide__list {
  justify-content: center;
}
.caption p,
.caption h2 {
  margin: 0;
}
.subs-input::placeholder {
  font-size: 17px;
  font-family: Cormorant Garamond;
}
.subs-input {
  font-size: 17px;
  font-family: Cormorant Garamond;
}
/* INDEX */
/* --------------------------------------------- */
/* Footer */
.brighter {
  color: #9cabab;
}
.brighter-hover:hover {
  color: white;
}
.icon-foot,
.icon-foot > svg {
  transition: all 0.3s ease;
}
.icon-foot:hover {
  transform: scale(1.2);
}
.icon-foot:hover > svg {
  fill: #fff;
}
.topper {
  border: 1px solid #cfac9f;
  padding-right: 12px;
  padding-left: 12px;
  padding-bottom: 10px;
  padding-top: 10px;
  transition: all 0.3s ease;
}
.topper > div > svg {
  transition: all 0.2s ease;
}
.topper:hover > div > svg {
  transform: translateY(-8px);
}
/* Footer */
/* --------------------------------------------- */
/* CATEGORY SINGLE */
.img-blog {
  transform: scale(1.05);
  transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.blog-hoverer:hover {
  .img-blog {
    transform: scale(1.05) translateY(-3px);
  }
}
/* CATEGORY SINGLE */
/* --------------------------------------------- */
/* BLOG SINGLE */
.card-main {
  border: 1px solid var(--cardbordercolor);
}
.card-inner {
  height: 158px;
}
.card-imger {
  width: 145px;
  height: 98px;
  object-position: center center;
  object-fit: cover;
}
@media screen and (max-width: 767px) {
  .card-inner {
    height: auto;
  }
  .card-main {
    width: 430px;
  }
}
@media screen and (max-width: 482px) {
  .card-main {
    width: 100%;
  }
  .card-imger {
    width: 100%;
  }
}
.card-tagline {
  border: 1px dashed var(--cardbordercolor);
  background: var(--cardbgtag);
}
.rater {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.card-btn {
  background-color: var(--blueish);
  width: 170px;
  height: 40px;
  box-shadow: 3px 3px 5px rgba(128, 128, 128, 0.521) !important;
}
.card-btn:hover {
  background-color: #3b55b1;
  box-shadow: -3px 3px 10px rgba(128, 128, 128, 0.521) !important;
}
.card-btn:active {
  filter: brightness(0.8);
  background-color: #3b55b1 !important;
  box-shadow: none !important;
}
@media screen and (max-width: 420px) {
  .card-btn {
    width: 110px;
    height: 35px;
    font-size: 12px;
  }
  .under-btn > a > p {
    font-size: 12px;
  }
}
.under-btn {
  color: var(--blueishtext);
  /* font-family: ; */
}
.bg-pinkish {
  background: var(--pinkish);
}
.popular-div {
  border-radius: 0px 0px 14px 14px;
}
@media (min-width: 768px) {
  .popular-div {
    border-radius: 12px 0px 12px 0px;
  }
}
.gaper{
  gap: 38px;
}
@media (max-width: 400px) {
  .gaper{
    gap: 8px;
  }

}

/* BLOG SINGLE */

/* --------------------------------------------- */
/* CATEGORY SINGLE */
.star-rating {
  /* padding: 0 0.2em; */
  width: 5em;
}

.star-rating label {
  color: #ccc;
  cursor: pointer;
}

.star-rating :checked ~ label {
  color: #f90;
}

.star-rating label:hover,
.star-rating label:hover ~ label {
  color: #fc0;
}
.sharer-child1 {
  opacity: 0;
  transform: translateX(15px);
  transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.sharer-child2 {
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.sharer-parent:hover {
  .sharer-child1 {
    transform: translateX(0);
    opacity: 1 !important;
  }
}
.sharer-parent:hover {
  .sharer-child2 {
    opacity: 0;
  }
}
/* CATEGORY SINGLE */

/* --------------------------------------------- */
/* --------------------------------------------- */
